﻿@model Reisikulud.Models.Travel

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Kas oled kindel, et tahad kustutada?</h3>
<div>
    @*<h4>Travel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Description)
        </dd>*@

        <dt>
            Eesmärk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Category)
        </dd>*@

        <dt>
            Reisi algus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <p></p>
        <dt>
            Reisi lõpp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@
        <p></p>
        <dt>
            Reisija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta ära" class="btn btn-danger" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
