﻿@model Reisikulud.Models.Travel

@{
    ViewBag.Title = "Details";
}

<h2>Teave</h2>

<div>
    @*<h4>Travel</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Reis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>*@

        <dt>
            Eesmärk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>*@
        <p></p>
        <dt>
            Reisi algus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
      
        <dt>
            Reisi lõpp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <p></p>
        <dt>
            Staatus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@
        <p></p>
        <dt>
            Reisija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>

