﻿@model Reisikulud.Models.Travel

@{
    ViewBag.Title = "Edit";
}

<h2>Muuda</h2>


@using (Html.BeginForm("Edit", "Travels", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>Travel</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Nimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @Html.HiddenFor(x => Model.Description)

    <div class="form-group">
        @Html.LabelFor(model => model.PersonId, "Kasutaja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PersonId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => Model.PersonId)
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Goal, "Eesmärk", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Goal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Goal, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @Html.HiddenFor(x => Model.Category)

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Reisi algus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @value=Model.StartDate?.ToString("yyyy-MM-dd") } })
                       @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Reisi lõpp", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @value = Model.EndDate?.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @Html.HiddenFor(model => model.State)

        @*<div class="form-group">
                @Html.LabelFor(model => model.PictureId, "PictureId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PictureId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PictureId, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @Html.HiddenFor(model => model.PictureId)

        <div class="form-group">
            <div class="col-md-offset-1 col-md-20">
                <table>
                    <tr>
                        <td><img id="pilt" @*src='@Url.Action("Content", "Datafiles", new { id = Model.DataFile.Id })' height="80"*@ /></td>
                        <td><label class="col-md-2" for="file">Pildike:</label></td>
                        <td><input type="file" name="file" id="file" /></td>
                        @*<td><input type="submit" value="Lisa" class="btn btn-primary" /></td>*@
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <dt>
        <strong>Reisi summa</strong>
    </dt>
    <dd>
        @Model.Expenses.Sum(x => x.Cost * (x.Category == 2 ? x.Duration : 1))
    </dd>
    <dt>
        <strong>Reisi summa + päevaraha (50€ päev)</strong>
    </dt>
    <dd>
        @Model.Expenses.Sum(x => x.Cost * (x.Category == 2 ? x.Duration : 1) + (x.Duration * 50))
    </dd>


    }
    <h2>Selle reisi kulutused</h2>
    <form action="@Url.Action("AddExpense")" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table table-striped">
            <tr>
                <th>Nimetus</th>
                <th>Kategooria</th>
                <th>Kulutus</th>
                <th>Kestus</th>
                <th>Kirjeldus</th>
                <th> </th>
            </tr>
            @foreach (var kulu in Model.Expenses)
            {
                <tr>
                    <td>@kulu.Name</td>
                    <td>@ViewBag.Kategooriad[kulu.Category]</td>
                    <td>@kulu.Cost</td>
                    <td>@kulu.Duration</td>
                    <td>@kulu.Description</td>
                    <td>@Html.ActionLink("Eemalda", "RemoveExpense", new { id = Model.Id, expenseId = kulu.Id })</td>
                </tr>
            }
            <tr>
                <td><input type="text" name="name" /></td>
                <td>@Html.DropDownList("category", null, "-- vali --")</td>
                <td><input type="number" name="cost" /></td>
                <td><input type="number" name="duration" /></td>
                <td><input type="text" name="description" /></td>
                <td><input type="submit" value="Lisa" /></td>
            </tr>
        </table>
        <p class="text-danger">@ViewBag.Error</p>
    </form>

    <div>
        @Html.ActionLink("Tagasi", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
