﻿@model IEnumerable<Reisikulud.Models.Travel>

@{
    ViewBag.Title = "Aruanded";
}



<h2>@ViewBag.FullName Siin on mõned meie aruanded </h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>

<form>
    <h2><small>Otsing</small></h2>
    <input type="date" name="searchstartDate" value="@System.DateTime.Today.ToString("yyyy-MM-dd")"/>
    @*<input type="date" name="searchendDate" value="@ViewBag.SearchEndDate" />*@
    <input type="text" name="searchString" placeholder="Otsi nime järgi" value="@ViewBag.SearchString" />
    <button type="submit" class="glyphicon glyphicon-search btn btn btn-primary"></button>
    <p></p>
    <p></p>
</form>


<table class="table table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Nimi", "Index", new { sortKey = "Name", sortDirection = ((ViewBag.SortKey == "Name" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
        <th>
            Eesmärk
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Category)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            @Html.ActionLink("Reisi algus", "Index", new { sortKey = "StartDate", sortDirection = ((ViewBag.SortKey == "Name" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })
        </th>
        <th>
            Reisi Lõpp
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State)*@
            @Html.ActionLink("Staatus", "Index", new { sortKey = "State", sortDirection = ((ViewBag.SortKey == "Name" && ViewBag.SortDirection == "Asc") ? "Desc" : "Asc") })
        </th>
        <th>
            Sisu
        </th>
        <th>
            Reisija
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (item.State == 1)
                {
                    @Html.HiddenFor(modelItem => item.State)<div class="alert alert-info"><strong>@ViewBag.Staatused[item.State]</strong></div>
                }
                else if (item.State == 2)
                {
                    @Html.HiddenFor(modelItem => item.State)<div class="alert alert-warning"><strong>@ViewBag.Staatused[item.State]</strong></div>
                }
                else if (item.State == 3)
                {
                    @Html.HiddenFor(modelItem => item.State)<div class="alert alert-danger"><strong>@ViewBag.Staatused[item.State]</strong></div>
                }
                else
                {
                    @Html.HiddenFor(modelItem => item.State)<div class="alert alert-success"><strong>@ViewBag.Staatused[item.State]</strong></div>
                }
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DataFile.Content)*@
                 
                    <img class="centered-and-cropped" height="120" width="150" src="@Url.Action("Content", "DataFiles", new { id = (item.DataFile?.Id??0) })" />
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Nimi)
            </td>
            @if ((item.State == 1) && (User.IsInRole("Tavakasutaja")) || (item.State == 1) && (item.Person.Email == User.Identity.Name))
            {
                <td>
                    @Html.ActionLink("Teave", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Esita", "ChangeState", new { id = item.Id, state = 2 })
                </td>
            }
            else if (
                (item.State == 2) && (User.IsInRole("Osakonnajuhataja")) 
               // || (item.State == 2) && (item.Person.Email == User.Identity.Name)
                )
            {
                <td>
                    @Html.ActionLink("Teave", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kinnita", "ChangeState", new { id = item.Id, state = 3 }) |
                    @Html.ActionLink("Lükka tagasi", "ChangeState", new { id = item.Id, state = 1 })
                </td>
            }
            else if ((item.State == 3) && (User.IsInRole("Raamatupidaja")))
            {
                <td>
                    @Html.ActionLink("Teave", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Hüvita reis", "ChangeState", new { id = item.Id, state = 4 })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Teave", "Details", new { id = item.Id })
                </td>
            }

        </tr>
    }

</table>
