﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="color-me">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        @*<span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>*@
                    </button>
                    @Html.Raw(@Html.ActionLink("[replacetext]", "Index", "Home").ToHtmlString().Replace("[replacetext]", "<img src = \"/Kana.png\" height=\"80\"/>"))
                </div>
                <div class="navigation-bar navbar-brand ">
                    @*<h3>Centered Pills</h3>
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>*@

                    <ul class="nav nav-pills navbar-left navbar-nav ">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>*@
                        <li>
                            @Html.ActionLink("Kontaktandmed", "Contact", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Osakonnad", "Index", "Departments")
                        </li>
                        <li>
                            @Html.ActionLink("Inimesed", "Index", "People")
                        </li>
                        <li>
                            @Html.ActionLink("Aruanded", "Index", "Travels")
                        </li>
                        @if (User.IsInRole("Raamatupidaja"))
                    {
                        <li>
                            @Html.ActionLink("Failid", "Index", "DataFiles")
                        </li>
                }
                else
                { }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center"><strong>&copy; @DateTime.Now.Year - BackSeat Boys Äpp</strong></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
