﻿@{
    ViewBag.Title = "Kontaktandmed";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br/>
<br/>
<address>
    <img src="~/Kana.png" height="300" width="350" /><br />
    <p></p>
    <strong>Kana Incorporated™</strong><br />
    <i>Teeme su kanast toasooja!</i><br />
    <br />
    Ülemiste City, Lõõtsa 8A<br />
    <br />
    <abbr title="Phone">Telefon:</abbr>
    55523561
    <br />
</address>
<br />
<address>
    <strong>Klienditugi:</strong>   <a href="mailto:bert.raudsep@gmail.com">ahti@kana.ee</a><br />
    <strong>Turundus:</strong> <a href="mailto:mart.lellsaar@gmail.com">jaak@kana.ee</a>
</address>