﻿@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:white;">
    <div style="background-color:mistyrose; color:darkred;"
        <div class="jumbotron">
            <p style="font-family:Impact;font-size:100%;text-align:center;">Kana Inc.</p>
            <p style="font-family:Impact;font-size:300%;text-align:center;">Reisikulude haldamise süsteem</p>
            @*<h1>Reisikulude haldamise süsteem</h1>*@

            @if (Request.IsAuthenticated)
    {

        <p class="alert alert-info" style="font-family:Arial; font-size:100%; text-align:center;">Oled registreeritud kasutaja</p>
        <p></p>
        <p></p>
        @*<p>
        <img src="~/Kana.png" height="400"/>
    </p>*@

        @*@(User.IsInRole("Raamatupidaja") ? "Raamatupidaja" : "Osakonnajuhataja") ;*@

if (User.IsInRole("Raamatupidaja"))

{
        <p style="font-family:Impact;font-size:100%;text-align:center;"> Raamatupidaja: @User.Identity.Name</p>
}
else
{
if (User.IsInRole("Osakonnajuhataja"))

{
        <p style="font-family:Impact; font-size:100%;text-align:center;"> Osakonnajuhataja: @User.Identity.Name</p>
}
else
{
        <p style="font-family:Impact; font-size:100%;text-align:center;"> Tavakasutaja: @User.Identity.Name</p>
}
}

        <div style="font-family:Impact; font-size:100%;text-align:left;"></div>
}
else

{
        <p class="alert alert-danger" style="font-family:Arial; font-size:100%; text-align:center;"></p>
       
        <p></p>
        <p></p>
        <p style="font-family:Impact;font-size:150%;text-align:center;">Tere, tundmatu kasutaja!</p>


        <p><a href="../../Account/Login"><span class="glyphicon-briefcase btn btn-outline-dark btn-lg btn-block" role="button">LOGI SISSE &raquo;</span></a></p>
}
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-4">
            <h2>...</h2>
            <p>
                ...
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">... &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>...</h2>
            <p>...</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">... &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>...</h2>
            <p>...</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">... &raquo;</a></p>
        </div>*@

    @*@if (Request.IsAuthenticated)
        {
            <p style="font-family:verdana;font-size:140%;text-align:center;">Oled registreeritud kasutaja</p>
            <p style="font-family:verdana;font-size:140%;text-align:center;">@User.Identity.Name</p>
        }
        else

        {
            <p style="font-family:verdana;font-size:140%;text-align:center;">Tere, tundmatu kasutaja!</p>
        }*@

</body>
