﻿@model Reisikulud.Models.IndexViewModel
@{
    ViewBag.Title = "Muuda oma andmeid";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Kasutajatunnus:</dt>
        <dd>
            @Html.DisplayNameFor(User => User)
        </dd>
        <dt>Salasõna:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Muuda", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Loo", "SetPassword")
            }
            ]
        </dd>
        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
 

    </dl>
</div>
