﻿@model Reisikulud.Models.Person

@{
    ViewBag.Title = "Delete";
}


<h3>Kas oled kindel, et tahad kustutada?</h3>
<div>
    @*<h4>Person</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>*@

        <dt>
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <p></p>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <p></p>
        <dt>
            Isikukood
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IK)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@

        <dt>
           Osakond
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta ära" class="btn btn-danger" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
