﻿@model Reisikulud.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Teave</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>*@

        <dt>
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <p></p>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <p></p>
        <dt>
            Isikukood
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IK)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@

        <dt>
            Osakond
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>
