﻿@model IEnumerable<Reisikulud.Models.Person>

@{
    ViewBag.Title = "Inimesed";
}

<h2>Inimesed, kes meil töötavad</h2>

<h3>@ViewBag.FullName</h3>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Isikukood
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </th>*@
        <th>
            Osakond
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IK)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DataFile.Name)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Teave", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
