﻿@model Reisikulud.Models.DataFile

@{
    ViewBag.Title = "Create";
}

<h2>Lisa uus fail</h2>


@using (Html.BeginForm("Create", "Datafiles", FormMethod.Post, new { enctype = "multipart/form-data" })) //saadetakse postmeetodiga ja on mitmeosaline
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>DataFile</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContentType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContentType, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <table>
            <div class="form-group">
                @Html.LabelFor(model => model.Content," ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<input type="file" id="file" name="file" />*@
            <tr>
                <img id="pilt" src='' height="80" hidden="hidden" />
                <label for="file">Lae pilt üles:</label>
                <td><input type="file" id="file" name="file" class="form-control" /></td>
                <td><input type="submit" value="Lisa" class="btn btn-primary" /></td>
            </tr>
        </table>
    </div>
}

<div>
    <p></p>
    @Html.ActionLink("Tagasi", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*
    see jutt siin kuni lehe lõpuni teeb nii
    Kui pilt on valitud, siis otsib lehelt elemendi id=file ja id=pilt
    elemendi id=file sisu võtab ja paneb elemendi id=pilt sisse
    ja kõige lõpuks toob selle elemendi peidust välja
*@
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#pilt').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $("#file").change(function () {
            readURL(this);
        });
    });</script>
