﻿@model Reisikulud.Models.DataFile

@{
    ViewBag.Title = "Delete";
}


<h3>Kas oled, kindel, et tahad kustutada?</h3>
<div>
    @*<h4>DataFile</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Faili nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <p></p>
        <dt>
            Failitüüp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta ära" class="btn btn-danger" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
