﻿@model Reisikulud.Models.DataFile

@{
    ViewBag.Title = "Details";
}

<h2>Teave</h2>

<div>
    @*<h4>DataFile</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Faili nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <p></p>
        <dt>
            Failitüüp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>
