﻿@model IEnumerable<Reisikulud.Models.DataFile>

@{
    ViewBag.Title = "Reisifailid";
}


<h2>Siin on mõned reisifailid</h2>
<h3>@ViewBag.FullName </h3>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Faili nimi
        </th>
        <th>
            Failitüüp
        </th>
        <th>
            Fail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Content)*@
            <img class="centered-and-cropped" height="130" width="180" src="@Url.Action("Content", "DataFiles", new { id = item.Id })"/>
       </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Teave", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
