﻿@{
    ViewBag.Title = "Kinnita email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Aitäh, et kinnitasid emaili! @Html.ActionLink("Logi siit sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
