﻿@{
    ViewBag.Title = "Salasõna muudetud";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Su salasõna on muudetud, võid @Html.ActionLink("sisse logida", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
