﻿@model Reisikulud.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h3>Kas oled kindel, et tahad kustutada?</h3>
<div>
    @*<h4>Department</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>*@

        <dt>
            Osakond
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <p></p>
        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@
        <dt>
            Osakonna juhataja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta ära" class="btn btn-danger" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
