﻿@model Reisikulud.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Teave</h2>

<div>
    @*<h4>Department</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.Name)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>*@
        <dt>
            Nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
        <p></p>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <p></p>
        <dt>
            Isikukood
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.IK)
        </dd>
        <p></p>
        <dt>
            Osakond
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Department.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>
