﻿@model IEnumerable<Reisikulud.Models.Department>

@{
    ViewBag.Title = "Osakonnad";
}

<h2>Osakonnad</h2>

<h3>@ViewBag.Nimi</h3>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>*@
        <th>
            Osakond
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DataFile.Name)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>*@
        <th>
           Osakonnajuhataja
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DataFile.Name)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>*@
        <th>
            @Html.DisplayFor(modelItem => item.Person.Nimi)
        </th>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Teave", "Details", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
